<div data-content="N100C3" class="MMM--tabSection clearfix 2">
<div style="font-size:24px" class="MMM--hdg MMM--hdg_2 SNAPS--hdg_2 MMM--tabHeader">Details<i class="MMM--icn  MMM--icn_arrowUp SNAPS--toggle_icon"></i>
</div>
<div class="tabContentContainer MMM--contentToggle-target MMM--isActive">
<div class="MMM--contentPadded MMM--accordionPanel">
<div class="MMM--grids">
<div class="MMM--grids-col MMM--grids-col_pdpMain">
<p class="SNAPS--pdpTabDes">The Command™ Bath Hand Towel Bar with a satin nickel finish makes it easy to keep a hand towel within reach without cluttering counter space.  The hand towel bar sticks to many surfaces, including glass, mirror, tile, fiberglass, wood and painted surfaces. It adheres firmly and comes off leaving no holes or sticky residue, providing a great alternative to unsightly, unreliable suction cups and damaging screws and nails.</p>
<p class="SNAPS--pdpTabDes"></p>
<ul class="MMM--pdpList SNAPS--bullets">
<li>INCLUDES – 1 hand towel bar, 4 strips</li>
<li>DAMAGE-FREE BATHROOM ORGANIZATION – Keep your hand towels within reach without cluttering your counter space with this towel bar. Perfect for on the wall, inside the cabinet, or in the shower.</li>
<li>NO TOOLS REQUIRED- Featuring a satin nickel rust-resistant finish with water-resistant adhesive strips that are proven to hold strong in wet conditions over suction cups. No holes, no drilling, and no hassle.</li>
<li>STRONG AND VERSATILE- Holding strong under the wettest conditions, this towel bar can adhere to most surfaces, including glass, mirror, tile, fiberglass, woods, and painted surfaces while holding up to 3lbs.</li>
<li>REMOVES CLEANLY- No sticky residue, no holes, no suction cups.</li>
<li>Color: Satin Nickel</li>
</ul>
</div>
</div>
</div>
</div>
</div>